<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tech Talk Blog</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div>
        <nav>
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          {{#if loggedIn}}
          <a href="/" id="logout">Logout</a>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
      </div>
      <div>
        <h1 class="home-title">Tech Talk Blog</h1>
      </div>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Made with love by AshleighC
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/public/javascript/logout.js"></script>
  {{/if}}
</body>

</html>