<section class="box">

    <form id="login" class="userform">
        {{!-- Username Field --}}
        <label for="username">Username</label>
        <input type="text" name="username" id="username">

        {{!-- Password Field --}}
        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <button type="submit">Log In</button>
    </form>

    <hr>

    <a href="/signup">No Profile Yet? Sign Up Here</a>
</section>

<script src="/javascript/login.js"></script>